@using CRUD.Domain.Employee
@model CRUDWeb.Models.ProductRequestModel

<div>
    <div class="card-header bg-secondary bg-gradient ml-0 py-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary"></h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row pb-2">
                <h2 class="text-primary"></h2>
            </div>
            <div class="row pb-2">
                <h2 class="text-primary">Update Product Record</h2>
            </div>
            <div class="form-floating py-2 col-12">
                @Html.TextBoxFor(m => m.ProductName,"", new {@class="form-control border-0 shadow"})
                @Html.LabelFor(m => m.ProductName)
                @Html.ValidationMessageFor(m => m.ProductName,"", new {@class="text-danger"})
            </div>
            <div class="form-floating py-2 col-12">
                @Html.TextBoxFor(m => m.Brand,"", new {@class="form-control border-0 shadow"})
                @Html.LabelFor(m => m.Brand)
                @Html.ValidationMessageFor(m => m.Brand,"", new {@class="text-danger"})
            </div>
            <div class="form-floating py-2 col-12">
                @Html.DropDownListFor(x => x.Category, new List<SelectListItem>
            {
            new SelectListItem() {Text = "Select Category", Value="0"},
            new SelectListItem() {Text = "Home Electronics", Value="Home Electronics"},
            new SelectListItem() {Text = "Mobiles", Value="Mobiles"},
            new SelectListItem() {Text = "Laptops", Value="Laptops"},
            new SelectListItem() {Text = "Toys", Value="Toys"},
            new SelectListItem() {Text = "Clothes", Value="Clothes"}}, new{@class="form-select border-0 shadow"})
                @Html.LabelFor(m => m.Category)
            </div>
            <div class="form-floating py-2 col-12">
                @Html.TextBoxFor(m => m.Price,"", new {@class="form-control border-0 shadow"})
                @Html.LabelFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price,"", new {@class="text-danger"})
            </div>
            <div class="form-floating py-2 col-12">
                @Html.TextAreaFor(m => m.Description, new {@class="form-control border-0 shadow"})
                @Html.LabelFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description,"", new {@class="text-danger"})
            </div>
            <div class="col-6">
                <div class="form-floating py-2 col-12">
                    @Html.TextBoxFor(x=> x.Image,new {@class = "form-control",type = "file",style = "display",@id= "file-input"})
                    @Html.LabelFor(m => m.Image)
                </div>
                <div class="image-preview">
                    <i id="clear-image" class="fa-regular fa-circle-xmark delete-image"></i>                    
                    <img src="\@Model.ImageName" id="image-preview" class="img-thumbnail" style="width: 200px; height: 200px;" />
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <input type="submit" class="btn btn-outline-success" style="width:100px" value="Update" />
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-light" style="width:100px">
                        Cancel
                    </a>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {

            $('#file-input').attr('src').show();
            $('#file-input').click(function () {
                fileInput.click();
            });
            $('.delete-image').click(function () {
                previewImage.attr('src', '');
                previewImage.hide();
                fileInput.val('');
            });
        });
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
}



